@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
  border: solid #5B6DCD 1px;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', 'san-serif';
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
  
}